﻿@model Win.UI.Models.LinkShorten

<form method="post">
   <br/><br/>
        <div>
            <input class="form-control" type="text" name="LongLink" placeholder="Link giriniz" />
            <button class="btn btn-default" type="submit" value="LinkShorten">Shorten</button>
        </div>
    

    <div class="alert alert-info">
        @ViewData["KisaLink"]
    </div>

</form>
