﻿@model Win.UI.Models.UpdatePassword
@{
    Layout = "~/Views/Shared/Uye_Layout.cshtml";
}

<body>
<br/><br/>
    <form method="post">
        <div class="form-group row">
            <label class="control-label col-sm-1">Şifre</label>
            <div class="col-sm-4">
                <input class="form-control" type="password" name="Password" placeholder="Şifre Giriniz " />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <button class="btn btn-default" type="submit" value="UpdatePassword">Güncelle</button>
            </div>
        </div>
    </form>
</body>

