﻿@model Win.UI.Models.UpdateOneShot
@{
    Layout = "~/Views/Shared/Uye_Layout.cshtml";
}

<body>
    <br /><br />
    <form method="post">
        <div class="form-group row">
            <label class="control-label col-sm-1">One Shot</label>
            <div class="col-sm-4">
                <input type="checkbox" name="OneShot" id="OneShot" checked="@ViewBag.OneShot" value="true">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <button class="btn btn-default" type="submit" value="UpdateOneShot">Güncelle</button>
            </div>
        </div>


        </div> 
    </form>
</body>