﻿@model Win.UI.Models.UpdateNotification
@{
    Layout = "~/Views/Shared/Uye_Layout.cshtml";
}

<body>
    <br /><br />
    <form method="post">
        <div class="form-group row">
            <label class="control-label col-sm-1">Notification</label>
            <div class="col-sm-4">
                 <input type="checkbox" name="Notification" id="Notification" checked="@ViewBag.Notification" value="True">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <button class="btn btn-default" type="submit" value="UpdateNotification">Güncelle</button>
            </div>
        </div>
    </form>
</body>