﻿@model Win.UI.Models.UpdateExpireDate
@{
    Layout = "~/Views/Shared/Uye_Layout.cshtml";
}

<body>
    <br /><br />
    <div class="form-group row">
        <label class="control-label col-sm-1">Expire Date</label>
        <div class="col-sm-4">
            <input type="checkbox" value="ExpireDate" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4">
            <button class="btn btn-default" type="submit" value="UpdateExpireDate">Güncelle</button>
        </div>
    </div>
</body>