﻿@model Win.UI.Models.LinkShorten
@{
    Layout = "~/Views/Shared/Uye_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LinkShorten</title>
</head>
<body>
    <form method="post">
        <br /><br>
           
                <div class="form-group row">
                    <label class="control-label col-sm-1">Link</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="LongLink" placeholder="Link giriniz" />
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="control-label col-sm-1">One Shot</label>
                    <div class="col-sm-4">
                        <input type="checkbox" name="OneShot" id="OneShot" value="True">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-1">Notification</label>
                    <div class="col-sm-4">
                        <input type="checkbox" name="Notification" id="Notification" value="True">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-1">Şifre</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="password" name="Password" placeholder="Şifre Giriniz " />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <button class="btn btn-default" type="submit" value="LinkShorten" style="position:absolute; right:0px">Shorten</button>
                    </div>
                </div>
        <br /><br />
                <div class="alert alert-info">
                    <div class="col-sm-4">
                        @ViewData["KisaLink"]
                    </div>
                </div>

    </form>
</body>
</html>