﻿@using System.Collections
@using System.Web.UI.WebControls
@using LinkKSDTO
@model Win.UI.Models.LinkLogList
@{
    Layout = "~/Views/Shared/Uye_Layout.cshtml";
}

<form method="get">
    <table>
        <tr>
            <td style="font-family:Verdana; font-size:14px; font-weight:bold;">IP</td>
            <td style="font-family:Verdana; font-size:14px; font-weight:bold;">Agent</td>
            <td style="font-family:Verdana; font-size:14px; font-weight:bold;">Referrer</td>
            <td style="font-family:Verdana; font-size:14px; font-weight:bold;">Date</td>
           

        @foreach (DTO_LINK_LOG item in ViewBag.logliste)
        {
            <tr>
                <td>@item.IP</td>
                <td>@item.Agent</td>
                <td>@item.Referrer</td>
                <td>@item.Date</td>
            </tr>
        }

    </table>
</form>
