﻿@using System.Collections
@using System.Web.UI.WebControls
@using LinkKSDTO
@model Win.UI.Models.LinkList
@{
    Layout = "~/Views/Shared/Uye_Layout.cshtml";
}

<form method="get">
    <table>
        <tr>
            <td style="font-family:Verdana; font-size:14px; font-weight:bold;">ShortLink</td>
            <td style="font-family:Verdana; font-size:14px; font-weight:bold;">LonkLink</td>
            <td style="font-family:Verdana; font-size:14px; font-weight:bold;">Password</td>
            <td style="font-family:Verdana; font-size:14px; font-weight:bold;">ExpireDate</td>
            <td style="font-family:Verdana; font-size:14px; font-weight:bold;">OneShot</td>
            <td style="font-family:Verdana; font-size:14px; font-weight:bold;">Notification</td>
            <td style="font-family:Verdana; font-size:14px; font-weight:bold;">ClickCount</td>
            <td style="font-family:Verdana; font-size:14px; font-weight:bold;">CreateDate</td>
            <td style="font-family:Verdana; font-size:14px; font-weight:bold;">Status</td>
        </tr>

        @foreach (DTO_LINK item in ViewBag.liste)
        {
            <tr>
                    <td>@item.ShortLink</td>
                    <td>@item.LongLink</td>
                @if (item.Password == null)
                {
                    <td><a href="@Url.Action("UpdatePassword","Home", new { id = item.Id})">Insert Password</a></td>
                }
                else
                {
                    <td><a href="@Url.Action("UpdatePassword","Home", new { id = item.Id})">@item.Password</a></td>
                }
                    <td><a href="@Url.Action("UpdatePassword","Home", new { id = item.Id})">@item.ExpiredDate</a></td>
                    <td><a href="@Url.Action("UpdateOneShot","Home", new { id = item.Id })">@item.OneShot</a></td>
                    <td><a href="@Url.Action("UpdateNotification","Home", new { id = item.Id })">@item.Notification</a></td>
                    <td>@item.ClickCount</td>
                    <td>@item.CreateDate</td>
                    <td>@item.Status</td>
                    <td><a href="@Url.Action("DeleteLink","Home", new { id = item.Id })">Delete</a></td>
                    <td><a href="@Url.Action("LinkLogList","Account", new { id = item.Id})">Examine</a></td>
                </tr>
                }

            </table>
        </form>
