﻿@model Win.UI.Models.UserSignUp
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    
    <br/><br/>
    <div class="form-group row">
        <label class="control-label col-sm-1">E-posta</label>
        <div class="col-sm-4">
            <input class="form-control" type="text" name="Email" placeholder="E-posta Giriniz " required/>
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-1">Şifre</label>
        <div class="col-sm-4">
            <input class="form-control" type="password" name="Password" placeholder="Şifre Giriniz " required/>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4">
            <button class="btn btn-default" type="submit" value="UserSignUp">Sign In</button>
        </div>
    </div>
</form>
